#
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

# Environments
*.env
*.env.test
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.zip
bin/
log/
logs/
595_1134_bundle_archive/
__pycache__/
*.log
./.vscode

template_engine
routes.txt

# Ignore all folders taht start with a dot
.*/